@charset "utf-8";
/* CSS Document */

#main-title-div {
  height: 100px;
  width:100%;
  text-align: center;
  line-height: 100px
}

#main-title {
  font-family: "league-gothic";
}

#ships {
  height:auto;
  width:auto;
}

.ship-content {
  height: 150px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: plum;
  border-radius: 50px 0px;
  margin-bottom: 25px;
}

.frame {
  height: 100%;
  position: relative;
  float: left;
}

.icon {
  margin: 0;
  margin-left: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 50px;
}

.name-type-nation {
  height: 100%;
  width:300px;
  margin-left: 150px;
}

.ntn {
  height:33%;
  position: relative;
}

.ntn-content {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
